__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
.runtime/
bin/*
!bin/.gitkeep
logs/*
!logs/.gitkeep
03_Output/*
!03_Output/.gitkeep
01_Input/*
!01_Input/.gitkeep
logs/*.log
02_Processing/*
!02_Processing/.gitkeep
